<h1>Sign Up</h1>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<form action="/users" method="post">
  <p>
    <label for="username">Username</label>
    <input type="text" name="username" required>
  </p>
  
  <p>
    <label for="email">Email</label>
    <input type="email" name="email" required>
  </p>
  
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" required>
  </p>
  
  <button>Signup</button>
</form>