<div class="container text-center">
  <h1 class="mb-4">Welcome to The Travel'log'ue Journal App!! </h1>
  
  
  <div class="row">
    <div class="col-md-6 mb-3">
      <img src="https://source.unsplash.com/500x300/?yosemite" class="img-fluid rounded shadow" alt="Yosemite National Park">
    </div>
    <div class="col-md-6 mb-3">
      <img src="https://source.unsplash.com/500x300/?yosemite,landscape" class="img-fluid rounded shadow" alt="Yosemite National Park">
    </div>
    <div class="col-md-6 mb-3">
      <img src="https://source.unsplash.com/500x300/?yosemite,scenery" class="img-fluid rounded shadow" alt="Yosemite National Park">
    </div>
    <div class="col-md-6 mb-3">
      <img src="https://source.unsplash.com/500x300/?yosemite,forest" class="img-fluid rounded shadow" alt="Yosemite National Park">
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-6">
      <h2>Login</h2>
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
    <div class="col-md-6">
      <h2>Sign Up</h2>
      <a href="/signup" class="btn btn-success">Create Account</a>
    </div>
  </div>
</div>