<h1 class="text-center my-4">My Travel Places</h1>

<div class="d-flex justify-content-end mb-3">
  <%= link_to "Add New Place", "/places/new", class: "btn btn-primary" %>
</div>

<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-4">
      <div class="card mb-3 shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= place.name %></h5>
          <%= link_to "View Entries", "/places/#{place.id}", class: "btn btn-dark btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>